######################
# DAP service configuration
export REMOTE_CONJUR_MASTER=false
export CONJUR_MASTER_HOSTNAME=
export CONJUR_MASTER_HOST_IP=
export DAP_VERSION=11.4.0

######################
# SSH values to execute scripts if remote DAP master host
export SSH_USERNAME=
export SSH_PVT_KEY=

######################
# Cluster parameters
export PLATFORM=kubernetes
export CLI=kubectl
export KUBECONFIG=
export EXTERNAL_REGISTRY_URL=
export INTERNAL_REGISTRY_URL=
export CLUSTER_ADMIN=				# OpenShift only
export CYBERARK_NAMESPACE_ADMIN=		# OpenShift only

######################
# Vault policy parameters & secrets
export VAULT_NAME=LabVault
export LOB_NAME=Labs
export SAFE_NAME=LabSafe1
export ACCOUNT_NAME=MySQL
export MYSQL_USERNAME=test_app
export MYSQL_PASSWORD=UhGfMk5L

###################################$#######
###########################################
## Values below shouldn't need changing  ##
###########################################
###########################################

# Cluster settings
export CYBERARK_NAMESPACE_NAME=cyberark
export NUM_USER_NAMESPACES=1
export APP_NAMESPACE_NAME=user1

# DAP settings
export AUTHN_USERNAME=admin
export AUTHN_PASSWORD=CYberark11!!
export CONJUR_ACCOUNT=dev
export CONJUR_MASTER_CONTAINER_NAME=conjur-master
export CLI_CONTAINER_NAME=conjur-cli
export CONJUR_APPLIANCE_URL=https://$CONJUR_MASTER_HOSTNAME
export MASTER_ALTNAMES="$CONJUR_MASTER_HOSTNAME,conjur-master"
export FOLLOWER_ALTNAMES="$CONJUR_MASTER_HOSTNAME"
export CLUSTER_AUTHN_ID=dappoc
export CONJUR_AUTHENTICATORS=authn-k8s/$CLUSTER_AUTHN_ID
export CONJUR_FOLLOWER_SERVICE_NAME=conjur-follower.$CYBERARK_NAMESPACE_NAME.svc.cluster.local
export CONJUR_AUTHN_URL=https://$CONJUR_FOLLOWER_SERVICE_NAME/api/authn-k8s/dappoc
export CACHE_DIR=./etc
export MASTER_CERT_FILE=$CACHE_DIR/dap-master.pem
export FOLLOWER_CERT_FILE=$CACHE_DIR/dap-follower.pem
export FOLLOWER_SEED_FILE=$CACHE_DIR/dap-follower-seedfile.tar
export CONJUR_MASTER_PORT=443
export CONJUR_MASTER_PGSYNC_PORT=5432
export CONJUR_MASTER_PGAUDIT_PORT=1999

# Vault target account settings
export SECRETS_ACCESS_ROLE=$VAULT_NAME/$LOB_NAME/$SAFE_NAME/delegation/consumers
export ACCOUNT_USERNAME=$VAULT_NAME/$LOB_NAME/$SAFE_NAME/$ACCOUNT_NAME/username
export ACCOUNT_PASSWORD=$VAULT_NAME/$LOB_NAME/$SAFE_NAME/$ACCOUNT_NAME/password
export DB_URL=mysql-db.$CYBERARK_NAMESPACE_NAME.svc.cluster.local

######################
# Common resource images

# CLI image
export LOCAL_CLI_IMAGE=cyberark/conjur-cli:5-6.2.2

# Appliance image
export LOCAL_APPLIANCE_IMAGE=registry.tld/conjur-appliance:$DAP_VERSION
export PUSH_APPLIANCE_IMAGE=$EXTERNAL_REGISTRY_URL/$CYBERARK_NAMESPACE_NAME/conjur-appliance:latest
export REGISTRY_APPLIANCE_IMAGE=$INTERNAL_REGISTRY_URL/$CYBERARK_NAMESPACE_NAME/conjur-appliance:latest

# LB container image
export LOCAL_HAPROXY_IMAGE=haproxy-dap:latest

# Seed fetcher image
export LOCAL_SEED_FETCHER_IMAGE=cyberark/dap-seedfetcher:latest
export PUSH_SEED_FETCHER_IMAGE=$EXTERNAL_REGISTRY_URL/$CYBERARK_NAMESPACE_NAME/dap-seedfetcher:latest
export REGISTRY_SEED_FETCHER_IMAGE=$INTERNAL_REGISTRY_URL/$CYBERARK_NAMESPACE_NAME/dap-seedfetcher:latest

# Target database
export LOCAL_MYSQL_IMAGE=mysql:latest
export PUSH_MYSQL_IMAGE=$EXTERNAL_REGISTRY_URL/$CYBERARK_NAMESPACE_NAME/mysql:latest
export REGISTRY_MYSQL_IMAGE=$INTERNAL_REGISTRY_URL/$CYBERARK_NAMESPACE_NAME/mysql:latest

######################
# Use-case images

# Generic test app
export LOCAL_APP_IMAGE=db-client:latest
export APP_IMAGE=$INTERNAL_REGISTRY_URL/$CYBERARK_NAMESPACE_NAME/db-client:latest

# Authenticator client
export LOCAL_AUTHENTICATOR_IMAGE=conjur-authn-k8s-client:latest
export AUTHENTICATOR_IMAGE=$INTERNAL_REGISTRY_URL/$CYBERARK_NAMESPACE_NAME/conjur-authn-k8s-client:latest

# Secrets provider for k8s
export LOCAL_SECRETS_PROVIDER_IMAGE=secrets-provider-for-k8s:latest
export SECRETS_PROVIDER_IMAGE=$INTERNAL_REGISTRY_URL/$CYBERARK_NAMESPACE_NAME/secrets-provider-for-k8s:latest

# Secretless broker
export LOCAL_SECRETLESS_BROKER_IMAGE=secretless-broker:latest
export SECRETLESS_BROKER_IMAGE=$INTERNAL_REGISTRY_URL/$CYBERARK_NAMESPACE_NAME/secretless-broker:latest

######################
# Portability stuff
# Use a cap-D for base64 decoding on Macs
if [[ "$(uname -s)" == "Linux" ]]; then
  BASE64D="base64 -d"
else
  BASE64D="base64 -D"
fi

